
/***********************************
***************FONTS***************
***********************************/



@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
  /* special elite */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');  /* Courier */







/***********************************
*********CUSTOM PROPERTIES**********
***********************************/

:root {
    --main-color: #000000;
    --secondary-color: #FFFFFF;
}








/***********************************
*********BODY STYLES***************
***********************************/
body {
    margin:0;
    position:relative;
    
    
}







/***********************************
********HEADER STYLES***************
***********************************/
header {
    font-family: 'Courier New', Courier, monospace;
    color: var(--secondary-color);
    background-color: var(--main-color);

    text-align: center;
 
    
    
}

header p {

    text-transform: uppercase;
    font-weight:400;
    font-size:14px;
    line-height:23px;
   
    /*MARGIN AND PADDING VAN TEKST */
    padding-bottom: 0.2em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.5em;
    
}

header img:nth-of-type(1) {
    margin-top: 0.5em;
    width:8.5em;
    max-width: 160px;
}

header img:nth-of-type(2) {
    width:1.8em;
    position:absolute;
    top:0.3em;
    right:1.2em;
}

header img:nth-of-type(3) {
    width:1.5em;
    position:absolute;
    top:0.9em;
    right:4em;
}

header img:nth-of-type(4) {
    width:1.2em;
    position:absolute;
    top:0.9em;
    left:3.5em;
}

header nav button img:nth-of-type(1) {
  width:1.5em;
  position:absolute;
  top:1em;
  left:1em;
}

header button {
 margin:0%;
 background-color: var(--main-color);
 border:none;
 
 
}





/***********************************
********MAIN STYLES***************
***********************************/



main {
    font-family: 'Special Elite', cursive;
    
}

h3 {
    text-transform: uppercase;
}





/***********************************
********SLIDESHOW STYLES************
***********************************/



 section:first-of-type ul:first-of-type {
    margin:0;
    padding: 0;
    list-style-type: none;

    display:flex;
    overflow-x:scroll;
    
}

section:first-of-type ul:first-of-type a  {
    flex-direction: row;
   
}

section:first-of-type ul:first-of-type a img {
    width:23.5em;
   
}

section:nth-of-type(2) a:first-of-type p {
    color: var(--secondary-color);
    background-color: var(--main-color);
    padding:1em;
    width:14em;
    text-align: center;
}   

section:nth-of-type(2) a:first-of-type {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight:bold;

    
}


/***********************************
************NEW ARRIVALS************
***********************************/

section:nth-of-type(3) {
    margin-bottom: 20%;
    width: fit-content;
}

section:nth-of-type(3) ul {
    padding:0;

    list-style-type: none;

    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap:10%;
    row-gap:20%;

}



section:nth-of-type(3) a:nth-of-type(1) {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight:bold;

    color:var(--secondary-color);
    background-color:var(--main-color);
   
    padding:1em;
  
   
    
    
}

section:nth-of-type(3)  img:first-of-type{
    width:10em;
    margin:0;
    padding:0;
    padding-bottom:.5em;
    
}

section:nth-of-type(3) li {
    position: relative;
}

section:nth-of-type(3) li:first-of-type  img:nth-of-type(2) {
    position: absolute;
    left:3em;
    top:14em;
    width:50%;
}


section:nth-of-type(3) h3 {
    text-align: center;
    margin-bottom: 1.5em;
    
}

section:nth-of-type(3) h4 {
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
    margin-bottom: 2.5em;
    padding:0;
    
}

section:nth-of-type(3) p {
    text-align: center;
    font-weight:bold;
}





